.middle {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	align-items: center;
	justify-content: center;
	width: 300px;
	border-radius: 10px;
	margin-left: 40%;
	padding: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
input {
	background-color: rgb(241, 241, 241);
	color: black;
	margin-right: 10px;
	height: 2rem;
	border-radius: 20px;
	padding-left: 10px;
	color: #000;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border: none;
	display: block;
	margin-top: 10px;
	width: 98%;
}


.login-button{
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: 0.5rem ;
	color: black;
	cursor: pointer;
	color: aliceblue;
}
