body {
	font-family: sans-serif;
	background-color: rgb(228, 226, 226);
	font-weight: 600;
}
.tela {
	display: flex;
	justify-content: center;
	align-items: center;

	input {
		background-color: rgb(241, 241, 241);
		color: black;
		height: 2rem;
		margin: 10px;
		border-radius: 20px;
		padding-left: 10px;
		color: #000;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		border: none;
	}
}
h1 {
	display: flex;
	justify-content: center;
}

.App {
	height: 95vh;
}

.tela button {
	border: none;
	height: 3rem;
	margin: 10px;
	border-radius: 20px;
	padding-left: 5px;
	width: 5rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border: none;
	color: #fff;
}
.tela button:hover {
	opacity: 50%;
	transition: 0.2s;
	cursor: pointer;
}
.tela {
	height: 90vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
table{
	text-align: center;
	th{
		width: 100px;
		height: 15px;
		color: #757575;
	}
}
.close{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color: red;
	color: #fff;
	border: none;
	cursor: pointer;
}